*
!.gitignore
!.bashrc
!.p10k.zsh
!.profile
!.vimrc
!.zprofile
!.zshrc
!.config
!.config/code-flags.conf
!.config/electron-flags.conf
!.config/kitty
!.config/kitty/*
!.config/kitty/kitty-themes
!.config/kitty/kitty-themes/themes
!.config/kitty/kitty-themes/themes/*
!.config/kmonad
!.config/kmonad/tutorial.kbd
!.config/kmonad/Keycode.hs
!.config/kmonad/kmonad-arch
!.config/kmonad/kmonad-arch/*
!.config/kmonad/kmonad-mac
!.config/kmonad/kmonad-mac/kmonad
!.config/kmonad/kmonad-mac/README.md
!.config/kmonad/kmonad-mac/local.kmonad.plist
!.config/kmonad/kmonad-mac/colemakdh_extended_mac.kbd
!.config/kmonad/kmonad-win
!.config/kmonad/kmonad-win/*
!.config/rncbc.org
!.config/rncbc.org/*
!.config/sway
!.config/sway/*
!.config/waybar
!.config/waybar/*
!.config/waybar/scripts
!.config/waybar/scripts/*
!.config/wofi
!.config/wofi/*
