*
!.gitignore
!.bashrc
!.config
!.config/kmonad
!.config/kmonad/*
!.config/code-flags.conf
!.config/electron-flags.conf
!.config/kitty
!.config/kitty/*
!.config/kitty/kitty-themes
!.config/kitty/kitty-themes/themes
!.config/kitty/kitty-themes/themes/*

