/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */
 
/* Colors (gruvbox) */
@define-color black		#202020;
@define-color red		#ce3e60;
@define-color brred		#d18ea6;
@define-color green		#7bb75b;
@define-color brgreen	#50fa7b;
@define-color yellow	#e8b32a;
@define-color bryellow	#ffff00;
@define-color blue		#4581eb;
@define-color brblue	#6d9df1;
@define-color pink		#fa54ff;
@define-color brpink	#fb82ff;
@define-color gray		#343835;
@define-color brgray	#545454;
@define-color white		#bbbbbb;

@define-color warning 	@yellow;
@define-color critical	@red;
@define-color mode		@black;
@define-color unfocused	@black;
@define-color focused	@green;
@define-color inactive	@black;

@define-color barbg		@black;
@define-color bartext   @white;
@define-color tooltipbg @black;

@define-color sound		@white;
@define-color network	@white;
@define-color memory	@white;
@define-color cpu		@white;
@define-color temp		@white;
@define-color layout	@white;
@define-color disk		@white;
@define-color date		@white;
@define-color time		@white;
@define-color bluetooth	@white;
@define-color keyboard	@white;

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */
 
 @keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}
 
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */
* {
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
	min-height: 0;
}
 
/* The whole bar */
#waybar {
    background: @barbg;
	opacity: 0.9;
    color: @bartext;
	font-family: "JetBrains Mono", hack, "Font Awesome 6 Free";
	font-size: 18px;
}
 
/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#custom-scratchpad-indicator,
#custom-temperature-monitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#disk,
#bluetooth,
#backlight,
#idle_inhibitor {
    padding-left: 15px;
    padding-right: 15px;
	border-left: 1px solid @gray;
}
 
/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}
 
/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}
 
/* -----------------------------------------------------------------------------
 * Tooltip styles
 * -------------------------------------------------------------------------- */
 
 tooltip {
	color: @white;
	background-color: @tooltipbg;
	text-shadow: none;
	border-radius: 5px;
	border: 1px solid @gray
}
 
tooltip label {
	color: @white;
	/* font-size: 28px; */
	font-family: "JetBrains Mono", hack;
	padding: 10px;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
 
 #mode {
    color: @white;
	background: @mode;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}
 
/* Workspaces stuff */
#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @white;
	background: @unfocused;
}
 
/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @brgray;
	background: @inactive;
}
 
/* Active (on focused output) */
#workspaces button.focused {
	color: @black;
	background: @focused;
}
 
/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}
 
/* Style when cursor is on the button */
#workspaces button:hover {
	box-shadow: none;
	text-shadow: none;
	background: @brgray;
	color: @white;
}
 
 
/* window title text */
#window {
    /* font-weight: bold; */
	/* font-size: 22px; */
	color: @white;
	margin-right: 40px;
	margin-left: 40px;
}
 
#taskbar button:hover {
	background-color: red;
}
 
/* temperature */
#temperature {
	color: @temp;
}
 
#temperature.critical {
    color: red;
}
 
/* cpu */
#cpu {
	color: @cpu;
}
 
#cpu.warning {
	color: @warning;
}
 
#cpu.critical {
	color: @critical;
}
 
/* memory */
#memory {
	color: @memory;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
 
#memory.warning {
    color: @warning;
}
 
#memory.critical {
    color: @critical;
    animation-name: blink-critical;
    animation-duration: 2s;
}
 
#disk {
	color: @disk;
}
 
#bluetooth {
	color: @bluetooth;
}
 
#network {
    color: @network;
}
 
#network.disconnected {
    color: @warning;
}
 
#pulseaudio {
    color: @sound;
}
 
#pulseaudio.muted {
    color: @warning;
}
 
#custom-keyboard-layout {
	color: @keyboard;
}

#custom-scratchpad-indicator {
	color: @keyboard;
}

#custom-temperature-monitor {
	color: @temp;
}
 
#clock {
	color: @time;
    font-weight: bold;
}
 
 
 
 
 
 
 
#tray {
    /* No styles */
}