[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /home/catkins/.config/kmonad/kmonad-arch/colemakdh_extended_arch.kbd
Nice=-20

[Install]
WantedBy=default.target